* {
  box-sizing: border-box;
}

html {
  font-family:-apple-system,BlinkMacSystemFont,"avenir next",avenir,helvetica,"helvetica neue",ubuntu,roboto,noto,"segoe ui",arial,sans-serif ;
}

.grid > div {
  min-height: 320px;
  padding: 1em;
  background-color: rgb(70, 187, 255);
  border-radius: 0.5em;
}