.grid {
  display: grid;
  grid-gap: $grid-gap;
  margin-bottom: $grid-gap;
}

.gapless {
  grid-gap: 0;
}

@media (min-width: 512px){
  .auto-col {
    grid-template-columns: repeat(auto-fit, minmax($auto-col-width, 1fr));
  }
}

@media all and (min-width: $md){
  .two-col {
    grid-template-columns: repeat(2, 1fr);

    &.c- {

      &40-60 {
        grid-template-columns: 40fr 60fr;
      }

      &60-40 {
        grid-template-columns: 60fr 40fr;
      }
      
      &67-33 {
        grid-template-columns: 67fr 33fr;
      }

      &33-67 {
        grid-template-columns: 33fr 67fr;
      }

      &25-75 {
        grid-template-columns: 25fr 75fr;
      }

      &75-25 {
        grid-template-columns:75fr 25fr;
      }
    }

  }

  .three-col {
    grid-template-columns: repeat(3, 1fr);

    &.c- {

      &50-25-25 {
        grid-template-columns:50fr 25fr 25fr;
      }

      &25-50-25 {
        grid-template-columns:25fr 50fr 25fr;
      }
      
      &25-25-50 {
        grid-template-columns:25fr 25fr 50fr;
      }

      &60-20-20 {
        grid-template-columns:25fr 25fr 50fr;
      }

      &20-60-20 {
        grid-template-columns:25fr 25fr 50fr;
      }

      &20-20-60 {
        grid-template-columns:25fr 25fr 50fr;
      }

      
    }

  }

  .four-col {
    grid-template-columns: repeat(4, 1fr);
  }

  .five-col {
    grid-template-columns: repeat(5, 1fr);
  }

  .six-col {
    grid-template-columns: repeat(6, 1fr);
  }
  
}

.max-xs {
  max-width: $xs;
  margin: 0 auto;
  padding: $grid-gap;
}

.max-sm {
  max-width: $sm;
  margin: 0 auto;
  padding: $grid-gap;
}

.max-md {
  max-width: $md;
  margin: 0 auto;
  padding: $grid-gap;
}

.max-lg {
  max-width: $lg;
  margin: 0 auto;
  padding: $grid-gap;
}

.max-xl {
  max-width: $xl;
  margin: 0 auto;
  padding: $grid-gap;
}

.first {
  order: -1;
}

.last {
  order: 1;
}